<%- include('./includes/header'); %>

  <div class="container">
    <center>
      <h1><%= greeting%></h1>
    </center>
    <br>
    <h1> <%= title %> </h1>
    <h2>
      <%= name %>
    </h2>
  </div>

  <%- include('./includes/footer'); %>